{
	"extends": ["airbnb", "prettier"],
	// "plugins": ["prettier"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint"],
  "rules": {
		"linebreak-style": 0,
		"no-underscore-dangle": 0,
		"prettier/prettier": "error",
		"no-unused-expressions": [
			"error",
			{
				"allowTernary": true
			}
    ],
    "arrow-body-style": ["error", "always"]
	},
	"settings": {},
	"globals": {
		"alert": true,
		"confirm": true,
		"window": true,
		"document": true,
		"localStorage": true,
		"FormData": true,
		"FileReader": true,
		"Blob": true,
		"navigator": true
	}
}
